version: "3.8"

configs:
  postgres_init:
    file: /home/vagrant/my_app/services/database/init.sql
services:
    db:
        image: postgres:13-alpine
        environment:
          POSTGRES_USER : "postgres"
          POSTGRES_PASSWORD: "postgres"
          POSTGRES_DB: "postgres_db"
        volumes:
          - postgres_data:/var/lib/postgresql/data
        configs:
          - source: postgres_init
            target: /docker-entrypoint-initdb.d/init.sql
        ports:
          - "5432:5432"
        healthcheck:
          test: ["CMD-SHELL", "pg_isready -U postgres"]
          interval: 10s
          timeout: 5s
          retries: 5

    rabbitmq:
        image: rabbitmq:3-management-alpine
        environment:
          RABBITMQ_DEFAULT_USER: "guest"
          RABBITMQ_DEFAULT_PASS: "guest"
        ports:
          - "5672:5672"
        healthcheck:
          test: ["CMD", "rabbitmqctl status"]
          interval: 10s
          timeout: 5s
          retries: 5

    session-service:
        container_name: session-service
        build:
          context: /home/vagrant/my_app/services/session-service
          dockerfile: Dockerfile
        environment:
            POSTGRES_HOST: "db"
            POSTGRES_PORT: "5432"
            POSTGRES_USER : "postgres"
            POSTGRES_PASSWORD: "postgres"
            POSTGRES_DB: "hotels_db"
        ports:
          - "8081:8081"
        depends_on:
            - db

    hotel-service:
        container_name: hotel-service
        build:
          context: /home/vagrant/my_app/services/hotel-service
          dockerfile: Dockerfile
        environment:
            POSTGRES_HOST: "db"
            POSTGRES_PORT: "5432"
            POSTGRES_USER : "postgres"
            POSTGRES_PASSWORD: "postgres"
            POSTGRES_DB: "hotels_db"
        depends_on:
            - db
    payment-service:
        container_name: payment-service
        build:
          context: /home/vagrant/my_app/services/payment-service
          dockerfile: Dockerfile
        environment:
          POSTGRES_HOST: "db"
          POSTGRES_PORT: "5432"
          POSTGRES_USER : "postgres"
          POSTGRES_PASSWORD: "postgres"
          POSTGRES_DB: "payments_db"
        depends_on:
          - db
    loyalty-service:
        container_name: loyalty-service
        build:
          context: /home/vagrant/my_app/services/loyalty-service
          dockerfile: Dockerfile
        environment:
          POSTGRES_HOST: "db"
          POSTGRES_PORT: "5432"
          POSTGRES_USER : "postgres"
          POSTGRES_PASSWORD: "postgres"
          POSTGRES_DB: "balances_db"
        depends_on:
          - db
    report-service:
        container_name: report-service
        build:
          context: /home/vagrant/my_app/services/report-service
          dockerfile: Dockerfile
        environment:
          POSTGRES_HOST: "db"
          POSTGRES_PORT: "5432"
          POSTGRES_USER : "postgres"
          POSTGRES_PASSWORD: "postgres"
          POSTGRES_DB: "statistics_db"
          RABBIT_MQ_HOST: "rabbitmq"
          RABBIT_MQ_PORT: "5672"
          RABBIT_MQ_USER: "guest"
          RABBIT_MQ_PASSWORD: "guest"
          RABBIT_MQ_QUEUE_NAME: messagequeue
          RABBIT_MQ_EXCHANGE: messagequeue-exchange
        depends_on:
            - db
            - rabbitmq
    booking-service:
        container_name: booking-service
        build:
          context: /home/vagrant/my_app/services/booking-service
          dockerfile: Dockerfile
        environment:
          POSTGRES_HOST: "db"
          POSTGRES_PORT: "5432"
          POSTGRES_USER : "postgres"
          POSTGRES_PASSWORD: "postgres"
          POSTGRES_DB: "reservations_db"
          RABBIT_MQ_HOST: "rabbitmq"
          RABBIT_MQ_PORT: "5672"
          RABBIT_MQ_USER: "guest"
          RABBIT_MQ_PASSWORD: "guest"
          RABBIT_MQ_QUEUE_NAME: "messagequeue"
          RABBIT_MQ_EXCHANGE: "messagequeue-exchange"
          HOTEL_SERVICE_HOST: "hotel-service"
          HOTEL_SERVICE_PORT: "8082"
          PAYMENT_SERVICE_HOST: "payment-service"
          PAYMENT_SERVICE_PORT: "8084"
          LOYALTY_SERVICE_HOST: "loyalty-service"
          LOYALTY_SERVICE_PORT: "8085"
        depends_on:
          - db
          - rabbitmq
          - hotel-service
          - loyalty-service
          - payment-service
    gateway-service:
          container_name: gateway-service
          build:
            context: /home/vagrant/my_app/services/gateway-service
            dockerfile: Dockerfile
          environment:
            SESSION_SERVICE_HOST: "session-service"
            SESSION_SERVICE_PORT: "8081"
            HOTEL_SERVICE_HOST: "hotel-service"
            HOTEL_SERVICE_PORT: "8082"
            BOOKING_SERVICE_HOST: "booking-service"
            BOOKING_SERVICE_PORT: "8083"
            PAYMENT_SERVICE_HOST: "payment-service"
            PAYMENT_SERVICE_PORT: "8084"
            LOYALTY_SERVICE_HOST: "loyalty-service"
            LOYALTY_SERVICE_PORT: "8085"
            REPORT_SERVICE_HOST: "report-service"
            REPORT_SERVICE_PORT: "8086"
          ports:
            - "8087:8087"
          depends_on:
            - session-service
            - hotel-service
            - booking-service
            - payment-service
            - loyalty-service
            - report-service

volumes:
  postgres_data:
      driver: local

