- name: First Playbook
  hosts: all
  become: yes

  tasks:

    - name: Update
      apt:
        update_cache: yes

    - name: Install package
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - gnupg
          - lsb-release
        state: present

    - name:  Add GPG-key Docker
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add repo Docker
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present
      update_cache: yes
    
    - name: install Docker
      apt:
        name:
          - docker-ce
          - containerd.io
          - docker-compose-plugin
        state: latest
    
    - name: Add user to Docker group
      user:
        name: vagrant
        groups: docker
        append: yes
    
    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes
