---
# tasks file for apache

- name: install apache
  apt:
    name:
      - apache2
    state: present
    update_cache: yes
  notify: restart apache

- name: start apache
  service:
    name: apache2
    state: started
    enabled: yes