---
# tasks file for install_consul_server
- name: create Consul group
  group:
    name: consul
    system: yes
    state: present

- name: Create Consul user
  user:
    name: consul
    group: consul
    shell: /bin/false
    state: present

- name: Create config directory
  file:
    path: "/etc/consul.d"
    state: directory
    owner: consul
    group: consul
    mode: 0750

- name: Create Consul data dir
  file:
    path: "/opt/consul/data"
    state: directory
    owner: consul
    group: consul
    mode: 0755
    
- name: Copy config
  copy:
    src: "consul_server.hcl"
    dest: "/etc/consul.d/consul.hcl"

- name: Copy consul bin
  copy:
    src: consul
    dest: "/usr/local/bin/consul"
    mode: "0755"

- name: Installing dependencies
  apt:
    name:
      - curl
      - software-properties-common
    state: present

    
- name: Deploy consul service
  template:
    src: consul.service.j2
    dest: /etc/systemd/system/consul.service
    owner: root
    group: root
    mode: 0644
  notify: reload systemd

- name: Enable and start consul service
  systemd:
    name: consul
    state: started
    enabled: yes


